* {
    box-sizing: border-box;
}

body {
    font-family: Avenir, sans-serif;
    background-color: ghostWhite;
}

header {
    padding: 1%;
    background-color: tomato;
    text-align: center;
    margin-bottom: 3%;
    box-shadow: 0px 3px 10px #888;
}

#memory_board {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);
    grid-gap: 15px;
    justify-items: center;
}

#memory_board > div {
    border-radius: 4px;
    background: url(nasa.jpg) no-repeat;
    width: 175px;
    height:190px;
    box-shadow: 5px 5px 10px #888;
    cursor: pointer;
}

button {
    width: auto;
    height:auto;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888;
    font-family: Avenir, sans-serif;
    cursor: pointer;
}

.card {
}


.clicked {
    transform-origin: center;
    transform: rotateX(180deg);
    pointer-events:none;
}
