/*---- FONTS ----*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*---- GENERAL ----*/
* {
    box-sizing: border-box;
}

body {
    font-family: Avenir, sans-serif;
    background-image:url(./images/background_2.jpg);
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Berkshire Swash', cursive; }

p, button { font-family: 'Raleway', sans-serif; }

header {
    padding: 1%;
    background-color: tomato;
    text-align: center;
    margin-bottom: 3%;
    box-shadow: 0px 3px 10px #888;
}

#memory_board {
    display: grid;
    width: 80%;
    /*grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}
/*
@media screen and (max-width: 480px) {
    #memory_board {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(10, 1fr);
    }
}*/


#memory_board > div {
    background: url(./images/lotr.jpg) no-repeat;
    background-color: white;
    position: relative;
    width: 180px;
    height:200px;
    cursor: pointer;
    transition: 0.7s ease;
    box-shadow: 5px 5px 10px #000;
}

div > img {
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #000;
    pointer-events:none;
    opacity: 0;
}

button {
    width: auto;
    height:auto;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    border: gold;
    box-shadow: 5px 5px 10px #000;
    background-color: gold;
    cursor: pointer;
}
.buttonDiv {

}

.winSection {
    background-color: white;
    padding: 5%;
    margin-bottom: 2%;

    display: none;
}

/*--- WHEN CARD IS CLICKED ---*/
.clicked {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events:none;

    /*transition: 0.8s;*/
    /*transition: 0.7s ease-in-out;*/
}

.imgClicked {
    opacity: 1;
    transition: 0.67s ease;
}
